body {
  margin: 0;
  min-height: 100vh;
  background-color: hsl(240, 78%, 98%);
  background-image: url("./images/bg-top.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: top right -198px;
  font-family: "Montserrat", sans-serif;
  margin-block-start: 10%;
}
.our-pricing {
  font-size: 26px;
  font-weight: 700;
  text-align: center;
  color: hsl(232, 13%, 33%);
  margin-block: 0;
}
.toggle {
  padding-block: 10%;
}
.toggle-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-block-start: 5%;
  gap: 2%;
}
.anually,
.monthly {
  font-size: 15px;
  font-weight: 400;
  color: hsl(233, 13%, 49%);
}
.monthly-billing {
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.container {
  margin: auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(autofit, minmax (15rem, 1fr));
  margin-block-end: 20%;
}
.basic,
.master {
  border-radius: 14px;
  padding-inline: 5%;
  padding-block: 8%;
  background-color: white;
  color: hsl(232, 13%, 33%);
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.078);
}
.professional {
  border-radius: 14px;
  padding-inline: 5%;
  padding-block: 8%;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: white;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.078);
}
.details {
  text-align: center;
  font-size: 15px;
  font-weight: 500;
}
.title {
  text-align: center;
  margin-block-start: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.5px;
  margin-block-end: 0;
}
span.annual-fee {
  display: flex;
  justify-content: center;
  align-items: center;
}
.subscription-fee {
  font-size: 44px;
  font-weight: 700;
  margin-block: 6%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.price-box .monthly-fee {
  display: none;
}

.show-monthly .price-box .monthly-fee {
  display: block;
  text-align: center;
}

.show-monthly .price-box .annual-fee {
  display: none;
}
.learn-more {
  margin-block-start: 5%;
  width: 100%;
  padding-block: 6%;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
}
.learn-more-professional {
  background-color: white;
  color: hsl(237, 63%, 64%);
}
.learn-more-basic:hover {
  background-color: white;
}
.learn-more-basic,
.learn-more-master {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
  color: white;
}
hr {
  opacity: 40%;
}
/* toggle switch styling */
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-image: linear-gradient(
    to right,
    hsl(236, 72%, 79%),
    hsl(237, 63%, 64%)
  );
}

input:focus + .slider {
  box-shadow: 0 0 1px hsl(237, 63%, 64%);
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
@media only screen and (min-width: 768px) {
  body {
    margin-block-start: 2%;
  }
  .toggle {
    padding-block: 2%;
  }
  .toggle-button {
    margin-block-start: 2%;
  }
  .monthly-billing {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 0;
  }
  .professional {
    z-index: 999;
  }
  .basic,
  .master {
    z-index: -1;
  }
}
